<%- include("partials/header.ejs") %>

<!-- d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center -->

<div class="list-title container">
  <h1 class="pb-1 border-bottom">Work List</h2>
</div>

<div class="d-flex flex-column p-5 gap-4 py-md-5 justify-content-center">
  <div class="list-group">
    <% if ((locals.addedTasksWork) && (locals.selectedTimesWork)) { %>
        
        <% for( let i = 0; i < addedTasksWork.length; i++ ) { %>
          <label class="list-group-item d-flex gap-3 justify-content-left">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.6em;">
            <span class="pt-1 form-checked-content" >
              <strong style="font-size: 1.375em;"> <%= addedTasksWork[i] %></strong>
              <small class="d-block text-body-secondary" style="font-size: 1em;">
                <%= selectedTimesWork[i] %>
              </small>
            </span>
          </label>
        <% } %>
        
      <% } %>
      <label class="list-group-item d-flex gap-3 bg-body-tertiary" action="/submit" method="POST">
        <span class="pt-1 form-checked-content">
          <form action="/submit" method="POST" class="d-flex flex-row">
            <button type="submit" value="OK" class="d-flex justify-content-center align-items-center custom-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </button>
            <div style="margin-left: 10px;">
              <input type="text" name="task" class="w-100" placeholder="Add Task">
              <small class="d-block text-body-secondary">
              <input type="text" name="time" class="w-100" placeholder="Choose time">
              </small>
            </div>
          </form>
        </span>
      </label>
  </div>
</div>

<%- include("partials/footer.ejs") %>

